.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #333333;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.leaderboardTitle {
  text-align: center;
  color: #66ccff;
  margin-bottom: 20px;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.th,
.td {
  padding: 10px;
  border-bottom: 1px solid #666666;
  text-align: left;
}
.th {
  background-color: #555555;
}
.tr:nth-child(even) {
  background-color: #444444;
}
.tr:hover {
  background-color: #555555;
}
